  .N{
    background: url(../Imagenes/fondo.jpg);
    background-size: cover;
  }

  .N1{
    text-align: center;

  }

  .logo{
    width: 25%;
    height: 200px;
  }

  .tamaño{
    width: 100%;
  }

  .N2{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
  }

  .N2sub1{
    border-radius: 10px;
    font-size: 1.5em;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
  }

  .N2sub2{
    font-size: 1.5em;
    text-align: center;
    width: 50%;
  }

  .N2sub3{
    font-size: 1.5em;
    text-align: center;
    width: 50%;
  }

  .N2sub4{
    font-size: 1.5em;
    text-align: center;
    width: 50%;
  }

  .N2T{
    color:white;
  }

  header{
    display: flex;
    flex-wrap: wrap;
    background-color: #283747;
    height: 65.53079947575361vh;
    margin: 25px;
    border-radius: 5px;
    border: 5px solid white;
  }

  .H{
    overflow: hidden;
    display: flex;
    width: 80%;
    height: 10%;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    box-sizing: border-box;
  }

  .HText{
    align-self: center;
    width: 100%;
    color: #82E0AA;
    font-size: 3em;
    text-align: center;
  }

  .Hnav{
    width: 20%;
    height: 10%;

    border-bottom: 5px solid white;
    text-align: center;
    font-size:85%;
  }

  .H1{
    width: 50%;
    height: 90%;
    border-right: 5px solid white;
    box-sizing: border-box;
  }

  .H1Sub1{
    align-self: center;
    width: 100%;
    height: 15%;
    border-bottom: 3px solid white;
  }

  .H1Sub1Text{
    text-align: center;
    font-size: 190%;
    color: #82E0AA;
  }

  .H1Sub2{
    overflow: auto;
    width: 100%;
    height: 85%;
    color: #82E0AA;
    font-size: 1.4em;
    text-align: center;
  }

  .H2{
    width: 50%;
    height: 90%;
  }

  .H2Sub1{
    align-self: center;
    width: 100%;
    height: 15%;
    border-bottom: 3px solid white;
  }

  .H2Sub1Text{
    text-align: center;
    font-size: 190%;
    color: #82E0AA;
  }

  .H2Sub2{
    overflow: auto;
    width: 100%;
    height: 85%;
    color: #82E0AA;
    font-size: 1.4em;
    text-align: center;
  }

  .SN2{
    display: flex;
    flex-wrap: wrap;
  }

  .C{
    display: flex;
  }

  .B1{
    width: 50%;
  }

  .B2{
    width: 50%;
  }

  .B{
    text-align: center;
  }
  .BText{
    color: black;
    font-family: cursive;
  }
