  body{
    background: url(../Imagenes/fondo.jpg);
    background-size: cover;
  }

  nav{
    margin: 25px;
  }

  .Nlogo{
    text-align: center;
  }

  .logo{
    width: 25%;
    height: 200px;
  }

  .tamaño{
    width: 100%;
  }

  .N1{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
  }

  .N2sub1{

    border-radius: 10px;
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
  }

  .N2sub2{
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
  }

  .N2sub3{
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
  }

  .N2sub4{
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
  }

  main{
    background-color: white;
    height: 500px;
    margin: 25px;
    border-radius: 5px;
    border: 5px solid white;
  }

  section{
    border: 5px solid white;
    background-color: white;
    border-radius: 5px;
    margin: 25px;
    height: 500px;
  }

  aside{
    border: 5px solid white;
    background-color: white;
    border-radius: 5px;
    margin: 25px;
    height: 350px;
  }

  footer{
      border: 5px solid white;
      background-color: white;
      border-radius: 5px;
      margin: 25px;
      height: 150px;
    }
