  .N{
    background: url(../Imagenes/fondo.jpg);
    background-size: cover;
  }

  .N1{
    text-align: center;

  }

  .logo{
    width: 25%;
    height: 200px;
  }

  .tamaño{
    width: 100%;
  }

  .N2{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
  }

  .N2sub1{
    border-radius: 10px;
    font-size: 1.5em;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
  }

  .N2sub2{
    font-size: 1.5em;
    text-align: center;
    width: 50%;
  }

  .N2sub3{
    font-size: 1.5em;
    text-align: center;
    width: 50%;
  }

  .N2sub4{
    font-size: 1.5em;
    text-align: center;
    width: 50%;
  }

  .N2T{
    color:white;
  }

  .H{
    padding: 7rem 0 7rem 0;
  }

  .HFondo{
    background: url(../Imagenes/fondo2.jpg);
    background-size: cover;
  }

  .SN{
    padding: 3rem 0 3rem 0;
  }

  .Acc{
    padding: 2rem 0 2rem 0;
  }

  .C{
    display: flex;
  }

  .B1{
    width: 50%;
  }

  .B2{
    width: 50%;
  }

  .B{
    text-align: center;
  }

  .BText{
    color: black;
    font-family: cursive;
  }

  .CText{
    padding: 2rem 0 0 0;
  }

  .Card{
    padding: 2rem 4rem 2rem 4rem;
  }

  .T{
    padding: 3em 2.5rem 3rem 2.5rem;
  }

  .center{
    text-align: center;
  }
